
<div class="custom-form1">
<h2>Sign up</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-field1">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'custom-input1' %>
    </div>

    <div class="form-field1">
      <%= f.label :name %><br />
      <%= f.text_field :name, class: 'custom-input1' %>
    </div>

    <div class="form-field1">
      <%= f.label :photo %><br />
      <%= f.text_field :photo, class: 'custom-input1' %>
    </div>

    <div class="form-field1">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: 'custom-input1' %>
    </div>

    <div class="form-field1">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'custom-input1' %>
    </div>

    <div class="form-field1">
      <%= f.submit "Sign up", class: 'custom-button1' %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>


