<h1>Here is detail of a specific user</h1>
<%= link_to user_path(@user), class: "user-row-link" do %>
  <div class="user-row">
    <div class="user-photo">
      <%= image_tag @user.photo if @user.photo.present? %>
    </div>
    <div class="user-info">
      <h2><%= @user.name %></h2>
      <div class="post-counter">Number of posts: <%= @user.posts.count %></div>
    </div>
  </div>
<% end %>

<div class="bio-row">
  <h2>BIO</h2>
  <p><%= @user.bio %></p>
</div>

<% @user.three_most_recent_posts.each do |post| %>
  <%= link_to user_post_path(@user, post), class: "post-link" do %>
    <div class="post-row">
      <h3><%= post.title %></h3>
      <p><%= truncate(post.text, length: 50) %></p>
      <div class="post-stats">
        <span>Comments: <%= post.comments.count %></span>
        <span>Likes: <%= post.likes.count %></span>
      </div>
    </div>
  <% end %>
<% end %>

<%= link_to 'See all posts', user_posts_path(@user), class: 'see-all-posts-btn' %>
