<h1>Here is detail of a post for a specific user</h1>
<div class="post-detail-row">
  <div class="post-title">
    <div class="title-author">
      <span class="post-name"><%= @post.title %></span> by <span class="author-name"><%= @user.name %></span>
    </div>
    <div class="post-stats">
      Comments: <%= @post.comments.count %> | Likes: <%= @post.likes.count %>
    </div>
  </div>
  <div class="post-content">
    <%= @post.text %>
  </div>
</div>

<div class="comments-container">
  <% @comments.each do |comment| %>
    <div class="comment">
      <span class="comment-author"><%= comment.author.name %>:</span>
      <span class="comment-text"><%= comment.text %></span>
    </div>
  <% end %>
</div>

<%= form_with(model: [ @user, @post, @post.comments.new ], local: true) do |form| %>
  <div class="field">
    <%= form.label :text, "Comments" %>
    <%= form.text_area :text, class: "custom-input", placeholder: "Write your comment here" %>
  </div>
  <%= form.submit "Publish Comment", class: "custom-button" %>
<% end %>

<%= form_with url: user_post_likes_path(@post.author, @post) do |form| %>
  <%= form.submit 'Like', class: 'like_button' %>
<% end %>
<% flash.each do |key, message| %>
  <div class="<%= key %>"><%= message %></div>
<% end %>